extends layout

block content
  .container
    h2 Your Account
    .account-details
      p Name: #{user.name}
      p Email: #{user.email}

    h3 Your Permissions:
      ul.permissions-list
        li Email: 
          span.permission-status= user.permissions.email ? 'Granted' : 'Denied'
        li Phone: 
          span.permission-status= user.permissions.phone ? 'Granted' : 'Denied'
        li Address: 
          span.permission-status= user.permissions.address ? 'Granted' : 'Denied'

    .button-container
      a.button(href='/preferences') Update Preferences
