extends layout

block content
  h2 Your Account
  p Name: #{user.name}
  p Email: #{user.email}

  h3 Your Permissions:
    ul
      li Email: #{user.permissions.email ? 'Granted' : 'Denied'}
      li Phone: #{user.permissions.phone ? 'Granted' : 'Denied'}
      li Address: #{user.permissions.address ? 'Granted' : 'Denied'}

  a(href='/preferences') Update Preferences
  a(href='/update-user-data') Update Name/Email
