extends adminLayout

block content
  .container 

    h1 Manage Users

    if users && users.length > 0
      table
        thead
          tr
            th Username
            th Name
            th Email
            th Phone
            th Address
        tbody
          each user in users
            tr
              td= user.username
              td= user.name
              td= user.email || 'N/A'
              td= user.getDecryptedPhone()|| 'N/A'
              td= user.address || 'N/A'
    else
      p No users found.
